<main class="Order-history-main">
  <h1>Cart</h1>
  {{#if orderList}}
    <div>
      <h1>Your Order</h1>
      <div class="order">
        <table class="orderDetailList">
          <tr>
            <th>Product</th>
            <th>Price</th>
            <th>Items</th>
            <th>Action</th>
          </tr>
          {{#each orderList.orderInfos}}
            <tr>
              <td>
                <p>
                  {{this.productName}}
                </p>
              </td>
              <td>
                <p>
                  {{this.productPrice}}
                </p>
              </td>
              <td>
                <p>
                  {{this.orderItems}}
                </p>
              </td>
              <td>
                <a href="/DelItem/{{this.orderDetailId}}">Remove</a>
              </td>
            </tr>
          {{/each}}
        </table>
        <p>Amount: {{orderList.amount}}</p>
        <p>TAX: {{orderList.tax}}</p>
        <p>Total Amount: {{orderList.totalAmount}}</p>
        <a href="/SubmitOrder/{{orderList.order._id}}">Submit</a>
      </div>
    </div>
  {{else}}
    <h3>Your cart is currently empty, add items to your cart from menu!</h3>
  {{/if}}
</main>