<main class="menu-main">
  <h1 class="menu-title">Delicious Pizza Menu</h1>
  <div class="menuList">
    {{#each menuList}}
      <figure class="product">
        <img src="{{this.image_url}}" alt="" />
        <figcaption>
          <h3>{{this.product}}</h3>
          <p>{{this.description}}</p>
          <p>{{this.price}}</p>
          <a class="menu-btn" href="/Add-to-cart/{{this._id}}">Add To Cart</a>
        </figcaption>
      </figure>
    {{/each}}
  </div>

  {{#if item}}
    <div class="popup-container" id="popup">

      <div class="add-to-cart-container">
        <h3>{{item.product}}</h3>
        <p><strong>Ingredients:</strong> {{item.ingredients}}</p>
        <form action="">
          <label> <strong>Choose Size: </strong></label>
          <div class="popup-2-grid">

            {{#each item.prices}}
              <label>
                <input
                  type="radio"
                  required
                  name="size"
                  data-price="{{this}}"
                  value="{{@key}}"
                />
                {{@key}}: ${{this}}
              </label>
            {{/each}}
          </div>

          <p><strong>Choose Toppings(Max 5): </strong> </p>

          <div class="popup-3-grid">
            {{#each toppings}}
              <label>
                <input
                  type="checkbox"
                  name="toppings"
                  value="{{this.name}}"
                  data-price="{{this.price}}"
                />
                {{this.name}}: ${{this.price}}
              </label>
            {{/each}}
          </div>
          <div class="popup-3-grid">

            <p><strong>Sub Total: <span id="sub-total">0</span></strong></p>
            <p><strong>Tax: <span id="tax">0</span></strong></p>
            <p><strong>Total: <span id="total">0</span></strong></p>
          </div>
          <div class="popup-2-grid">

            <button value="{{this._id}}" class="menu-btn" type="submit">Add to
              Cart</button>
            <button
              type="button"
              id="popup-btn"
              class="menu-btn"
            >Cancel</button>
          </div>
        </form>

      </div>
    </div>
  {{/if}}

</main>