<main>
    <h1>Your Order</h1>
    {{#if ErrorMsg}}
    <p>{{ErrorMsg}}</p>
    {{/if}}
    {{#if orderList}}
    {{#each orderList}}
    <div class="order">
        <p>Order Id: {{this.order._id}}</p>
        <table class="orderDetailList">
            <tr>
                <th>Product</th>
                <th>Price</th>
                <th>Items</th>
            </tr>
            {{#each this.orderInfos}}
            <tr>
                <td>
                    <p>
                        {{this.productName}}
                    </p>
                </td>
                <td>
                    <p>
                        {{this.productPrice}}
                    </p>
                </td>
                <td>
                    <p>
                        {{this.orderItems}}
                    </p>
                </td>
            </tr>
            {{/each}}
        </table>
        <p>Amount: {{this.amount}}</p>
        <p>TAX: {{this.tax}}</p>
        <p>Total Amount: {{this.totalAmount}}</p>
        {{#if isCanceled}}
        <p>Status: Canceled</p>
        {{/if}}

        {{#if isInCart}}
        <p>Status: IN CART</p>
        {{/if}}

        {{#if isReceived }}
        <p>Status: RECEIVED</p>
        <a href="/CancelOrder/{{this.order._id}}">Cancel Order</a>
        {{/if}}

        {{#if isReady}}
        <p>Status: READY FOR DELIVERY</p>
        {{/if}}

        {{#if isTransit }}
        <p>Status: IN TRANSIT</p>
        {{/if}}

        {{#if isDelivered}}
        <p>Status: DELIVERED</p>
        {{#if this.order.deliveryImg}}
        <img src="/deliveredPhotos/{{this.order.deliveryImg}}" alt="{{this.order.deliveryImg}}">
        {{/if}}
        {{/if}}
        <p>Order Time: {{this.order.orderDate}}</p>

        {{#if this.order.canceledDate}}
        <p>Canceled Date:{{this.order.canceledDate}}</p>
        {{/if}}
        {{#if this.order.pickUpDate}}
        <p>Driver: {{this.driverName}}</p>
        {{/if}}

        {{#if this.order.deliveryDate}}
        <p>Delivery Time : {{this.order.deliveryDate}}</p>
        {{else}}
        <p>Picked Up Time : {{this.order.orderDate}}</p>
        {{/if}}
    </div>
    {{/each}}
    {{/if}}
</main>